<p>
  {{test.a}} product-upload works! {{count}}
  <button (click)="increase()" class="btn btn-success">Click</button>>
</p>

<p-fileUpload #fileUpload name="file" url="http://0.0.0.0:3000/api/attachments/1/upload" auto="true" chooseLabel="Browse" 
    (onUpload)="onUploadCompleted($event)" (onSelect)="onSelectCompleted($event, fileUpload)"></p-fileUpload>


<p-dataTable [value]="uploadedFiles">
  <p-column field="filename" header="File Name"></p-column>
  <p-column field="filepath" [style]="{'width': '400px'}" header="Path"></p-column>
  <p-column field="filesize" [style]="{'width': '100px'}" header="Size"></p-column>
  <p-column field="isColor" [style]="{'width': '100px'}" header="Used as Color"></p-column>
  <p-column styleClass="action">
      <ng-template pTemplate="header">
          <button type="button" pButton icon="fa-refresh"></button>
      </ng-template>
      <ng-template let-file="rowData" pTemplate="body">
          <button type="button" pButton (click)="removeFile(file)" icon="fa-trash"></button>
      </ng-template>
  </p-column>
</p-dataTable>
<p-confirmDialog></p-confirmDialog>
