<div class="product-detail">
  <p-messages [(value)]="msgs"></p-messages>
  <h4>Product General Info</h4>
  <div class="ui-g ui-fluid">
    <div class="ui-g-12 ui-md-4 ui-sm-4 code-item">{{newProduct.productCode}}</div>
    <div class="ui-g-12 ui-md-8 ui-sm-4">
      <p>Created Date : {{today | amDateFormat:'LL'}} - {{newProduct.createdDate}}
        <input type="text" pInputText [(ngModel)]="newProduct.productName" placeholder="Type in brief product name" />
    </div>
  </div>
  <div class="ui-g ui-fluid">
    <div class="ui-g-12 ui-md-4 ui-sm-4">
      <p-header>Category</p-header>
    </div>
    <div class="ui-g-12 ui-md-4 ui-sm-4">
      <p-dropdown [options]="categories" [(ngModel)]="newProduct.categoryId" placeholder="Select category"></p-dropdown>
    </div>
  </div>
  <div class="ui-g ui-fluid">
    <div class="ui-g-12 ui-md-4 ui-sm-4">
      <p-header>Product Description</p-header>
    </div>
    <div class="ui-g-12 ui-md-4 ui-sm-4">
      <textarea [rows]="5" [cols]="60" pInputTextarea [(ngModel)]="newProduct.description" autoResize="true"></textarea>
    </div>
  </div>
  <div class="ui-g ui-fluid">
    <div class="ui-g-12 ui-md-4 ui-sm-4">
      <p-header>Original Vendor</p-header>
    </div>
    <div class="ui-g-12 ui-md-4 ui-sm-4">
      <input type="text" pInputText [(ngModel)]="newProduct.originalVendor" placeholder="Type in vendor" />
    </div>
  </div>

  <div>
    <product-upload #pUpload (fileSelected)="onFileSelected($event)" [container]="newProduct.parentId"></product-upload>
  </div>

  <div>
    <product-size #pSize (sizeSelected)="onSizeSelected($event)"></product-size>
  </div>

  <div>
    <product-stock #pStock [colorFiles]="colorFiles" [selectedSizes]="selectedSizes"></product-stock>
  </div>


  <div class="ui-g ui-fluid">
    <div class="ui-g-12 ui-md-2 ui-sm-2">
      <label>Unit Price</label>
    </div>
    <div class="ui-g-12 ui-md-2 ui-sm-2">
      <div class="ui-inputgroup">
        <input type="number" pInputText [(ngModel)]="newProduct.price" placeholder="Price">
        <span class="ui-inputgroup-addon">VND</span>
      </div>
    </div>
  </div>

  <div class="ui-g ui-fluid">
    <div class="ui-g-12 ui-md-2 ui-sm-2">
      <label>On Sale?</label>
    </div>
    <div class="ui-g-12 ui-md-2 ui-sm-2">
      <p-inputSwitch onLabel="Sale" offLabel="No Sale" [(ngModel)]="newProduct.isOnSale"></p-inputSwitch>
    </div>
    <div class="ui-g-12 ui-md-2 ui-sm-2">
      <label>Discount</label>
    </div>
    <div class="ui-g-12 ui-md-6 ui-sm-6">
      <p-radioButton [disabled]="!newProduct.isOnSale" name="groupname" value="val1" [(ngModel)]="selectedValue" label="New Price"></p-radioButton>
      <p-radioButton [disabled]="!newProduct.isOnSale" name="groupname" value="val2" [(ngModel)]="selectedValue" label="Discount Percentage"></p-radioButton>
      <div *ngIf="selectedValue=='val1'">
        <div class="ui-inputgroup">
          <input type="number" pInputText [(ngModel)]="newProduct.discountPrice" placeholder="Price">
          <span class="ui-inputgroup-addon">VND</span>
        </div>
        <span> ({{getDiscountPercent(newProduct.discountPrice)}} %)</span>
      </div>
      <div *ngIf="selectedValue=='val2'">
        <div class="ui-inputgroup">
          <input type="number" pInputText [(ngModel)]="newProduct.discountPercent" placeholder="%">
          <span class="ui-inputgroup-addon">%</span>
        </div>
        <span> ({{getDiscountPrice(newProduct.discountPercent)}} VND)</span>
      </div>
    </div>
  </div>
  <div class="action-pane">
    <button pButton type="button" label="Create Product" (click)="submit()"></button>
    <button pButton type="button" label="Cancel" (click)="cancel()"></button>
  </div>

</div>