<div class="order-detail">
  <h4>Review Info</h4>
  <div class="ui-g ui-fluid">
    <!--<div class="ui-g-12 ui-md-4 ui-sm-4 code-item">#{{myOrder.orderCode}}#</div>-->
    <div class="ui-g-12 ui-md-8 ui-sm-4">
      <p>Created Date : {{myReview.createdDate}}
    </div>
  </div>

  <div class="ui-g ui-fluid">
    <div class="ui-g-12 ui-md-4 ui-sm-4">
      <p-header>Customer name:</p-header>
    </div>
    <div class="ui-g-12 ui-md-4 ui-sm-4">
      {{myReview.name}}
    </div>
  </div>
  <div class="ui-g ui-fluid">
    <div class="ui-g-12 ui-md-4 ui-sm-4">
      <p-header>Email:</p-header>
    </div>
    <div class="ui-g-12 ui-md-4 ui-sm-4">
      {{myReview.email}}
    </div>
  </div>
  <div class="ui-g ui-fluid">
    <div class="ui-g-12 ui-md-4 ui-sm-4">
      <p-header>Title:</p-header>
    </div>
    <div class="ui-g-12 ui-md-4 ui-sm-4">
      {{myReview.title}}
    </div>
  </div>
  <div class="ui-g ui-fluid">
    <div class="ui-g-12 ui-md-4 ui-sm-4">
      <p-header>Comments:</p-header>
    </div>
    <div class="ui-g-12 ui-md-4 ui-sm-4">
      {{myReview.comment}}
    </div>
  </div>
  <div class="ui-g ui-fluid">
    <div class="ui-g-12 ui-md-4 ui-sm-4">
      <p-header>Status:</p-header>
    </div>
    <div class="ui-g-12 ui-md-4 ui-sm-4">
      <p-inputSwitch onLabel="Approved" offLabel="Pending" [(ngModel)]="myReview.status"></p-inputSwitch>
    </div>
  </div>
  <div class="ui-g ui-fluid">
    <div class="ui-g-12 ui-md-4 ui-sm-4">
      <p-header>Rating:</p-header>
    </div>
    <div class="ui-g-12 ui-md-4 ui-sm-4">
      {{myReview.rating}}
    </div>
  </div>
  

  <div class="action-pane">
    <button pButton type="button" label="Save" (click)="complete()"></button>
    <button pButton type="button" label="Cancel" (click)="cancel()"></button>
  </div>
</div>