<div class="order-detail">
  <h4>Thông tin đánh giá</h4>
  <div class="ui-g ui-fluid">
    <!--<div class="ui-g-12 ui-md-4 ui-sm-4 code-item">#{{myOrder.orderCode}}#</div>-->
    <div class="ui-g-12 ui-md-8 ui-sm-4">
      <p>Ngày đánh giá : {{myReview.createdDate}}
    </div>
  </div>

  <div class="ui-g ui-fluid">
    <div class="ui-g-12 ui-md-4 ui-sm-4">
      <p-header>Tên người đánh giá:</p-header>
    </div>
    <div class="ui-g-12 ui-md-4 ui-sm-4">
      {{myReview.name}}
    </div>
  </div>
  <div class="ui-g ui-fluid">
    <div class="ui-g-12 ui-md-4 ui-sm-4">
      <p-header>Email:</p-header>
    </div>
    <div class="ui-g-12 ui-md-4 ui-sm-4">
      {{myReview.email}}
    </div>
  </div>
  <div class="ui-g ui-fluid">
    <div class="ui-g-12 ui-md-4 ui-sm-4">
      <p-header>Tiêu đề:</p-header>
    </div>
    <div class="ui-g-12 ui-md-4 ui-sm-4">
      {{myReview.title}}
    </div>
  </div>
  <div class="ui-g ui-fluid">
    <div class="ui-g-12 ui-md-4 ui-sm-4">
      <p-header>Nội dung đánh giá:</p-header>
    </div>
    <div class="ui-g-12 ui-md-4 ui-sm-4">
      {{myReview.comment}}
    </div>
  </div>
  <div class="ui-g ui-fluid">
    <div class="ui-g-12 ui-md-4 ui-sm-4">
      <p-header>Trạng thái:</p-header>
    </div>
    <div class="ui-g-12 ui-md-4 ui-sm-4">
      <p-inputSwitch onLabel="Đã duyệt" offLabel="Chưa duyệt" [(ngModel)]="myReview.status"></p-inputSwitch>
    </div>
  </div>
  <div class="ui-g ui-fluid">
    <div class="ui-g-12 ui-md-4 ui-sm-4">
      <p-header>Đánh giá:</p-header>
    </div>
    <div class="ui-g-12 ui-md-4 ui-sm-4">
      {{myReview.rating}}
    </div>
  </div>
  

  <div class="action-pane">
    <button pButton type="button" label="Xác nhận" (click)="complete()"></button>
    <button pButton type="button" label="Hủy" (click)="cancel()"></button>
  </div>
</div>