<div class="ui-widget-header" style="padding:4px 10px;border-bottom: 0 none">
    <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
    <input #gb type="text" pInputText size="50" placeholder="Global Filter">
</div>
<p>
    List of orders
</p>
<p-dataTable [value]="orders" [rows]="10" [paginator]="true" [globalFilter]="gb">
    <p-column field="orderCode" header="Order Code"></p-column>
    <p-column styleClass="">
        <ng-template pTemplate="header">
            <span>Date</span>
        </ng-template>
        <template let-order="rowData" pTemplate type="body">
            <span class="col-date">{{ order.orderDate | date:'dd/MM/yyyy' }}</span>
        </template>
    </p-column>
    <p-column field="shippingFee" header="Shipping Fee"></p-column>
    <p-column field="orderAmount" header="Order Amt"></p-column>
    <p-column field="totalAmount" header="Total Amt"></p-column>
    <p-column styleClass="action">
        <ng-template pTemplate="header">
            <button type="button" pButton icon="fa-refresh"></button>
        </ng-template>
        <ng-template let-order="rowData" pTemplate="body">
            <button type="button" pButton (click)="viewDetail(order)" icon="fa-pencil"></button>
        </ng-template>
    </p-column>
</p-dataTable>