<h4>Product Size selection</h4>
<p-header>
    Kid Size selection
</p-header>
<p-dataGrid [value]="kidSizes">
    <ng-template let-size pTemplate="item">
        <div class="ui-g ui-fluid size-item" (click)="toggleSelect(size)" [class.active]="size.selected">
            <div class="ui-g-12 ui-md-2" >{{size.label}}</div>
        </div>
    </ng-template>
</p-dataGrid>
<p-header>
    Adult Size selection
</p-header>
<p-dataGrid [value]="adultSizes">
    <ng-template let-size pTemplate="item">
        <div class="ui-g ui-fluid size-item" (click)="toggleSelect(size)" [class.active]="size.selected">
            <div class="ui-g-12 ui-md-2">{{size.label}}</div>
        </div>
    </ng-template>
</p-dataGrid>