<div class="ui-widget-header" style="padding:4px 10px;border-bottom: 0 none">
    <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
    <input #gb type="text" pInputText size="50" placeholder="Tìm kiếm tổng thể">
</div>
<p>
  Danh sách sản phẩm
</p>
<p-dataTable [value]="products" [rows]="10" [paginator]="true" [globalFilter]="gb">
  <p-column field="productCode" header="Mã sản phẩm"></p-column>
  <p-column field="productName" [style]="{'width': '200px'}" header="Tên sản phẩm"></p-column>
<p-column field="totalQuantity" header="Số lượng"></p-column>
<p-column field="price" header="Giá"></p-column>
<p-column field="isOnSale" header="Đang sale"></p-column>
  <p-column styleClass="action">
      <ng-template pTemplate="header">
          <button type="button" pButton icon="fa-refresh"></button>
      </ng-template>
      <ng-template let-product="rowData" pTemplate="body">
          <button type="button" pButton (click)="viewDetail(product)" icon="fa-pencil"></button>
          <button type="button" pButton (click)="delete(product)" icon="fa-remove"></button>
      </ng-template>
  </p-column>
</p-dataTable>
<p></p>
<button pButton type="button" (click)="addNewProduct()" label="Thêm sản phẩm"></button>
