th.name-heading{
    width: 200px;
}

.title-01{
    font-size: 16px;
    border-bottom: 1px solid #000;
    margin-bottom: 10px;
}

.new-cate-box{
    margin: 20px 0 10px 0;
    text-align: left;
    list-style: none;
}
.new-cate-box li{
    display: inline-block;
}