<h2 class="title-01">{{group.title}}</h2>
<ul class="new-cate-box">
  <li><span class="ui-float-label">
    <input id="float-input" type="text" size="30" pInputText [(ngModel)]="newCategory.name"> 
    <label for="float-input">Add new category</label>
  </span>
  </li>
  <li><span class="ui-float-label">
    <input id="float-input" type="text" size="30" pInputText [(ngModel)]="newCategory.label"> 
    <label for="float-input">Add new label</label>
  </span>
  </li>
  <li><button pButton type="button" label="Add Category" (click)="addCategory()"></button></li>
</ul>

<div>
  <p-dataTable [value]="categories">
    <p-column field="parentId" header="Parent ID"></p-column>
    <p-column field="name" [style]="{'width': '300px'}" header="Name"></p-column>
    <p-column field="label" header="Label"></p-column>
    <p-column field="route" header="Route Name"></p-column>
    <!--<p-column field="color" header="Color">
      <ng-template let-col let-car="rowData" pTemplate="body">
          <span [style.color]="car[col.field]">{{car[col.field]}}</span>
      </ng-template>
  </p-column>-->
    <p-column styleClass="action">
      <ng-template pTemplate="header">
        <button type="button" pButton icon="fa-refresh"></button>
      </ng-template>
      <ng-template let-category="rowData" pTemplate="body">
        <button type="button" pButton (click)="removeCategory(category)" icon="fa-trash"></button>
        <button type="button" pButton (click)="viewDetail(category)" icon="fa-pencil"></button>
      </ng-template>
    </p-column>
  </p-dataTable>
</div>