<header>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a routerLink="" routerLinkActive="active" routerLinkActiveOptions="{exact : true}" class="navbar-brand">QNS Admin</a>
      </div>
      <ul class="nav navbar-nav">
        <li><a routerLink="" routerLinkActive="active" routerLinkActiveOptions="{exact : true}">Home</a></li>
        <li><a routerLink="/category" routerLinkActive="active">Category</a></li>
        <li><a routerLink="/product" routerLinkActive="active">Product</a></li>
      </ul>
    </div>
  </nav>
</header>

<router-outlet></router-outlet>