.ui-datatable td.action{
	text-align: center;
}

.ui-tabmenu .ui-widget-header{
	border: none;
}

.action-pane{
	text-align: right;
	margin: 10px 0;
}

.category-page, .product-page, .product-detail, .order-detail{
	padding: 10px 20px;
}